/* The side navigation menu */
.sidenav {
    height: 93%;  /* 100% Full-height */
    width: 13%;   /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    bottom: 0;  /* Stay at the top */
    left: 0;   
    background-color: lightgray; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;  /* Place content 60px from the top */
    transition: 0.5s;   /* 0.5 second transition effect to slide in the sidenav */
  }
  /* .sidenav li button{
    background-color: slategray!important;
  } */
.showbar {
  width: 50%!important;
  height: 93%;
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 5px 8px 5px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover{
    color: dodgerblue!important;
    cursor: pointer;
    background-color: #f1f1f1!important;
  } 

  .active{
    color: dodgerblue!important;
    cursor: pointer;
    background-color: white!important;
  }

  .cad .closebtn:hover{
    color:dodgerblue ;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    margin-left:12rem;
    /* padding-left: 18%; */
    padding-right: 1%;
    padding-top: 1%;
  }

  /* button for mobile setup */
  .mbtn{
    display:none !important;
  }

  /* .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-width: 450px) {
    .sidenav {
      padding-top: 30%;    
      position: absolute;
      width: 0;
      margin-left: 0;         
    }
    .sidenav a {font-size: 2rem;}
    .mbtn{
      margin-top: 5rem;
      display: inline-flex!important;
      vertical-align: middle!important;      
    }    
    .closebtn{
      display: block!important;
    }
  }